openapi: 3.0.3

info:
  title: TailoredMedia Knowledge Store
  version: '1'
  contact:
    name: TailoredMedia Project
    url: https://github.com/TailoredMediaProject

servers: 
  - url: https://data.tmedia.redlink.io/api/v1


tags:
  - name: Vocabulary
    description: Vocabulary-Management in the TM Knowledge Store
  - name: Entites
    description: Entity-Management in the TM Knowledge Store
  - name: Resolve
    description: Resolve local and 3rd-party entities
  - name: Linked Data
    description: Entites from the Knowledge Store as Linked Data

paths: {}

components:
  schemas:
    DateTime:
      type: string
      format: date-time
      example: "2021-11-29T16:02:17Z"
      externalDocs:
        url: https://xml2rfc.tools.ietf.org/public/rfc/html/rfc3339.html#anchor14
    TagType:
      type: string
      enum:
        - Person
        - Landmark
        - Object
        - Speech2Text
        - ShotType
    Vocabulary:
      description: A vocabulary in the TailoredMedia Knowledge Store
      type: object
      properties:
        id:
          type: string
          readOnly: true
        created:
          allOf:
            - $ref: '#/components/schemas/DateTime'
          readOnly: true
        lastModified:
          allOf:
            - $ref: '#/components/schemas/DateTime'
          readOnly: true
        label:
          type: string
        description:
          type: string
        entityCount:
          type: integer
          format: int64
          readOnly: true
          minimum: 0
      required:
        - id
        - created
        - lastModified
        - entityCount
    Entity:
      description: An entity in the TailoredMedia Knowledge Store
      type: object
      properties:
        id:
          type: string
          readOnly: true
        vocabulary:
          type: string
          readOnly: true
        canonicalLink:
          type: string
          format: uri
          readOnly: true
        type:
          $ref: '#/components/schemas/TagType'
        created:
          allOf:
            - $ref: '#/components/schemas/DateTime'
          readOnly: true
        lastModified:
          allOf:
            - $ref: '#/components/schemas/DateTime'
          readOnly: true
        label:
          type: string
        description:
          type: string
        externalResources:
          description: Links/References to external resources. Passed as-is.
          type: array
          items:
            type: string
          minItems: 0
        sameAs:
          description: |
            Links/References to external knowledge-bases. Data from supported
            sources are merged into the local knowledge base.
          type: array
          items:
            type: string
            format: uri
          minItems: 0
        data:
          description: |
            Container for the augmented data merged from external resources.
            This structure will evolve over time.
          type: object
          readOnly: true
      required:
        - id
        - vocabulary
        - canonicalLink
        - type
        - created
        - lastModified
        - data
